body {
    background-color: #fff;
    font-family: "Liberation Sans", "Bitstream Vera Sans", "Verdana", sans;
}

.clear {
    clear: both;
}

#header {
    background-color: #33f;
    color: #fff;
    z-index: 0;
}

#title {
    float: left;
    margin-left: 2em;
}

#menu {
    float: right;
    margin-top: 1em;
    margin-right: 1em;
}

#menu a {
    color: white;
}

#noscript {
    font-size: 1.2em;
    color: #f55;
    font-weight: bold;
}

#helpbox {
    position: absolute;
    visibility: hidden;
    width: 70%;
    background-color: #ddf;
    border: 5px solid #33f;
    z-index: 10;
    margin-top: 5%;
    margin-left: 15%;
    padding: 20px;
}

#aboutbox {
    position: absolute;
    visibility: hidden;
    width: 70%;
    background-color: #ddf;
    border: 5px solid #33f;
    z-index: 11;
    margin-top: 5%;
    margin-left: 15%;
    padding: 20px;
}

#content {
    background-color: #fff;
    color: #222;
    margin-left: 5%;
    padding-top: 2em;
    position: relative;
    z-index: 1;
}

#constants {
    background-color: #ddf;
    float: right;
    margin-right: 5%;
    padding: 2em;
}

.constants_header {
    font-size: 1.2em;
    padding-bottom: 5px;
}

.constants_warning {
    color: red;
    font-size: 0.8em;
    border: 1px solid red;
    padding: 5px;
}

.constant_label {
    font-size: 0.8em;
}

.constant_field {
    font-size: 0.8em;
}

#ui {
    float: left;
}

#input_table {
    border-spacing: 0;
}

#input_table td {
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.input_label {
    font-size: 2em;
    text-align: center;
}

.input_field {
    font-size: 1.5em;
    text-align: center;
}

.input_instruction {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.input_row {
    background-color: #ddf;
}

.input_row td {
    text-align: center;
}

.warning_row {
    background-color: #ddf;
    color: #f55;
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
}

.input_warning {
    color: red;
    font-size: 0.8em;
}

.output_row {
    background-color: #ccf;
}

.output_label {
    font-size: 1.8em;
    text-align: right;
}

.output_data {
    font-size: 1.6em;
    text-align: left;
}
